data/raw/
data/processed/
data/interim/
notebooks
settings.json
test.py

.vscode
.DS_Store
**/.DS_Store
__pycache__

notes.md
**/.ipynb_checkpoints

checks.ipynb

config.py
.env

wandb
models
references